.row {
    padding: 20px;
}

div {
    background-color: #bfc9d8;
    text-align: center;
}

#nombre {
    font-weight: bold;
}

#titulo {
    font-style: italic;
}

@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 60%;
        box-shadow: 2px 2px 2px grey;
        left: 3%;
        top: 520px;
    }
}

@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 40%;
        border-radius: 60%;
        box-shadow: 2px 2px 2px grey;
        left: 10%;
        top: 400px;
    }
    #nombre, #titulo{
        margin-left: 50%;
        text-align: center;
    }
}