<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
<div class="col-lg-11" >
    <ul>
        <h1>Trabajo 1 - </h1> <h3>anios</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, dolores cupiditate! Libero ex recusandae, voluptatibus fugiat quas consequuntur dolorem eius nulla provident voluptates in unde necessitatibus modi, sequi facere quo?</p>
    
    </ul>
    <ul>
        <h1>Trabajo 2 - </h1> <h3>anios</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, dolores cupiditate! Libero ex recusandae, voluptatibus fugiat quas consequuntur dolorem eius nulla provident voluptates in unde necessitatibus modi, sequi facere quo?</p>
    
    </ul>
    <ul>
        <h1>Trabajo 3 - </h1> <h3>anios</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, dolores cupiditate! Libero ex recusandae, voluptatibus fugiat quas consequuntur dolorem eius nulla provident voluptates in unde necessitatibus modi, sequi facere quo?</p>
    
    </ul>
</div>
</div>
