<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img src="../../../assets/APLogo.png" id="logoAP"></a>        
        </div>
         <div class="redes">                                   
            <a href="https://github.com/Loremaiden?tab=repositories"> <img src= "../../../assets/github.png" id="github"></a>                                               
            <a href="https://www.linkedin.com/in/lorena-borrego-2284b58b"> <img src= "../../../assets/linkedin.png" id="linkedin"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()"*ngIf="!isLogged">INGRESAR</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
        </div> 
    </div>          
